.recipe-detail-overlay 
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.recipe-detail-container 
{
  background: white;
  width: 450px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
} 

.recipe-detail-container img 
{
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.recipe-detail-container h2 
{
  margin-bottom: 10px;
}

.recipe-detail-container h3 
{
  margin-top: 15px;
  margin-bottom: 5px;
}

.close-btn 
{
  margin-top: 20px;
  background: #ff6347;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  float: right;
}

.close-btn:hover 
{
  background: #e04e33;
}

/* css for the stars*/
.rating-stars 
{
  font-size: 28px;
  margin-bottom: 10px;
}

.star 
{
  cursor: pointer;
  color: #ccc; 
}

.star.filled 
{
  color: gold; 
}

.star:hover 
{
  color: gold;
}
/* css for comments */
.comment-box 
{
  width: 100%;
  height: 70px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.comment-btn 
{
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.comments-list 
{
  list-style: none;
  padding-left: 0;
  margin-bottom: 10px;
}

.comments-list li 
{
  background: #f2f2f2;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 5px;
}